<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    .box {
      background-color: black;
      height: 200px;
      width: 200px;
    }

    .box.two {
      background-color: green;
    }

    .box.three {
      background-color: red;
    }

    button {
      margin-bottom: 5px;
    }

    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>

  <div id="app" v-cloak>
    {{ greeting }}
    <input @keyup.enter="greet(greeting + '<<')" v-model="search" />
    
    <hr />

    <button v-on:click.right="toggleBox">Toggle Me</button>
    <div v-if="isVisible" class="box"></div>
  </div>
  
   <!-- Vue 3 CDN -->
  <script src="https://unpkg.com/vue@3.4.15/dist/vue.global.js"></script>
  <script>
    const app = Vue.createApp({
      data: function() {
        return {
          greeting: "Hello Universe!",
          search: "Search...",
          isVisible: false
        }
      },
      methods: {
        toggleBox: function() {
          this.isVisible = !this.isVisible
        },
        greet(greeting) {
          console.log(greeting);
        }
      }
    })
    app.mount('#app')
  </script>
</body>
</html>